/* General selectors */

html {
  font-size: 100%;
}

body {
  font-family: 'Varela Round', sans-serif;
  --grey-color: #404040;
  color: var(--grey-color);
  /* CSS background pattern - https://leaverou.github.io/css3patterns/#diagonal-stripes */
  background-color: rgb(236, 236, 236);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  border-width: 0;
}

/* DeliverGrub logo */
h1 {
  font-size: 3em;
  margin: 0;
  animation-name: logo-shine;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 700px){
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1000px){
  h1 {
    font-size: 4.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@keyframes logo-shine {
  0% {color: var(--grey-color);}
  50% {color: white;}
  100% {color: var(--grey-color)}
}

.required {
  color: lightcoral;
}


/* Header section */

header {
  text-align: center;
  margin: 0;
  padding: 20px;
}

#description {
  font-size: 1.2rem;
  line-height: 1.5rem;
}


/* Form container */

#survey-form {
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(199, 199, 199);
  border-radius: 10px;
  box-shadow: 10px 10px 25px lightgrey;
  width: 80%;
  margin: auto;
  padding: 5%;
  margin-bottom: 100px;
}

@media (min-width: 700px) {
  #survey-form {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  #survey-form {
    width: 55%;
  }
}


.label-input-group {
  padding: 0% 0% 5% 0%;
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  .label-input-group {
    font-size: 1.4rem;
  }
}



#name, #email, #number, #dropdown {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

textarea {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.radio-button-option, .checkbox {
  font-size: 0.8em;
  display: inline-block;
  margin-top: 5px;
  width: 50%;
}

.radio-button-option-long {
  font-size: 0.8em;
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

/* Submit button */

#submit {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(35, 113, 231);
  border-radius: 5px;
  width: 13rem;
  height: 4rem;
}

@media (min-width: 700px) {
  #submit {
    font-size: 1.5rem; 
  }
}

@keyframes hover-fade {
  0% {background-color: rgb(35, 113, 231);}
  100% {background-color: rgb(27, 84, 170);}
}

#submit:hover {
  animation: hover-fade 0.5s 1;
  animation-fill-mode: forwards;
}

#submit:active {
  color: rgb(236, 236, 236);
}

i {
  font-size: 0.7em;
}


/* Footer */

footer {
  background-color: #404040;
  color: white;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

footer i {
  font-size: 1em;
}